html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
  }
  
p {
    font-size: 1em;
    line-height: 1em * 1.5;
    word-spacing: 115%;
  }

/* h1, h2, h3 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.236em;
    @media (max-width:600px) {
      font-size: 3.236em;
    } 
    @media (min-width:1200px) {
        font-size: 4.236em;
    } 
  }

  h2 {
    font-size: 1.618em;
    @media (max-width:600px) {
      font-size: 2.618em;
    } 
  }

  h3 {
    font-size: 1.618em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
    @media (max-width:600px) {
      font-size: 1.3em;
    } 
    font-weight: lighter;
    line-height: 1.618em;
    word-spacing: 115%;
  }

  p.small {
    font-size: .7em;
    font-weight: lighter;
    line-height: 1em;
    word-spacing: 115%;
  } */